 <!-- ************** NAVBAR ***************** -->
 <section id="navbar">
    <div class="container m-auto">
        <div class="row">
            <div class="col-sm col-md-12">
                <nav class="navbar navbar-expand-sm">
                    <!-- navbar-brand -->
                    <a class="navbar-brand mr-auto" routerLink="/"> <img src="../../assets/landingPage/ProHub-Logo.svg"/> </a>
    
                    <!-- toogler button for small screen -->
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#hamburgerMenu">
                        <span class="navbar-toggler-icon m-auto"> <i class="fas fa-bars"></i></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="hamburgerMenu"> 
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ml-2">     
                                <a routerLink="/" class="nav-link">Home</a> 
                            </li>
                            <li class="nav-item ml-2">
                                <a class="nav-link" routerLink="/howitworks">How it Works</a>  
                            </li>
                            <li class="nav-item ml-2"> 
                                <a class="nav-link active">About Us</a> 
                            </li>
                            <li class="nav-item ml-2">    
                                <a class="nav-link" routerLink="/contactus">Contact Us</a> 
                            </li>
                            <li class="nav-item ml-2">    
                                <a class="nav-link" routerLink="feedbackform">Feedback</a> 
                            </li>
                            <li class="nav-item ml-2">    
                                <button class="btn btn-login" (click)="navigate('/auth/login')">LOGIN</button> 
                            </li>
                            <li class="nav-item ml-2">    
                                <button class="btn btn-signup" (click)="navigate('/auth')">SIGNUP</button> 
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
  </section>

  <!-- ************** SECTION 2 ***************** -->

  <section class="section2 text-center"> 
    <div class="container">
      <div class="col-sm col-md-12 m-auto">
        <h1>About Us</h1>
      </div>
    </div>
  </section>


  <!-- ************** SECTION 3 ***************** -->

  <section class="section3 text-center">
    <div class="container">
      <div class="col-sm col-md-12 text-center">
        <h3 class="">Looking For Services</h3>
        <div class="border-bottom"></div>
      </div>
    </div>
  </section>

<!-- ************** SECTION 4 ***************** -->
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md m-auto">
        <h4 class="sec4-title">Posting of Question and Projects / employing workers.</h4>
        <p class="sec4-text">A streamlined workflow, enabling collaboration, flexibility and productivity. Select and
          employ experts to deliver projects seamlessly
        </p>
      </div>
      <div class="col-sm col-md">
        <div class="sec4-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md">
        <div class="sec5-img"></div>
      </div>
      <div class="col-sm col-md m-auto">
        <h4 class="sec4-title">Pricing and security</h4>
        <p class="sec4-text">Find the best talent for any job, anywhere in the world. Use a network of resources and tools as an ongoing extension of your business.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md m-auto">
        <h4 class="sec4-title">Streamlined Communication and Collaboration</h4>
        <p class="sec4-text">We make your collaboration with experts super easy. Keep all communication in one place, review edits collaboratively and provide time-stamped feedback all within your brief dashboard.
        </p>
      </div>
      <div class="col-sm col-md">
        <div class="sec6-img"></div>
      </div>
    </div>
  </div>
</section>

<!-- ************** SECTION 5 ***************** -->

<section class="section5">
  <div class="container">
    <div class="col-sm col-md-12 text-center">
      <h3 class="">Looking For Expertise</h3>
      <div class="border-bottom"></div>
    </div>
  </div>
</section>

<!-- ************** SECTION 4 ***************** -->
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md m-auto">
        <h4 class="sec4-title">Posting of Question and Projects / employing workers.</h4>
        <p class="sec4-text">A streamlined workflow, enabling collaboration, flexibility and productivity. Select and
          employ experts to deliver projects seamlessly
        </p>
      </div>
      <div class="col-sm col-md">
        <div class="sec4-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md">
        <div class="sec5-img"></div>
      </div>
      <div class="col-sm col-md m-auto">
        <h4 class="sec4-title">Pricing and security</h4>
        <p class="sec4-text">Find the best talent for any job, anywhere in the world. Use a network of resources and tools as an ongoing extension of your business.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md m-auto">
        <h4 class="sec4-title">Streamlined Communication and Collaboration</h4>
        <p class="sec4-text">We make your collaboration with experts super easy. Keep all communication in one place, review edits collaboratively and provide time-stamped feedback all within your brief dashboard.
        </p>
      </div>
      <div class="col-sm col-md">
        <div class="sec6-img"></div>
      </div>
    </div>
  </div>
</section>

<!-- *************  Footer  ************* -->

<section class="footer">
  <div class="container m-auto">
      <div class="row logo-row">
          <div class="col-md-8">
             <img src="./../../assets/landingPage/ProHub-Logo.svg" width="150px" height="80px"/>
          </div>
          <div class="col-md-4 text-right">
              <img id="footer-socialicon" src="./../../assets/landingPage/facebook.svg" width="15px" height="15px"/>
              <img id="footer-socialicon" src="./../../assets/landingPage/instagram.svg" width="15px" height="15px"/>
              <img id="footer-socialicon" src="./../../assets/landingPage/linkedin.svg" width="15px" height="15px"/>
              <img id="footer-socialicon" src="./../../assets/landingPage/youtube.svg" width="15px" height="15px"/>
          </div>
      </div>
      <div class="row footer-content">
          <div class="col-md-2" id="footer-list">
              <h6> Join ProHub </h6>
              <div class="footer-list-p">
              <p><a id="footera" href="#">As a Professionals</a></p>
              <p><a id="footerclient" href="#">As a Clients</a></p>
              </div>
         </div>
          <div class="col-md-2" id="footer-list">
              <h6>About</h6>
              <div class="footer-list-p">
                  <p><a id="footera" href="#">Terms & Conditions</a></p>
                  <p><a  id="footerclient" href="#">Privacy Policy</a></p>
                  </div>
          </div>
          <div class="col-md-2" id="footer-list">
              <h6>Support</h6>
              <div class="footer-list-p">
                  <p><a id="footera" href="#">Help & Support</a></p>
                  <p><a id="footerclient" href="#">As a Clients</a></p>
                  </div>
          </div>
          <div class="col-md-2" id="footer-list">
              <h6>Get our app</h6>
              <div class="footer-list-p">
                  <p><a id="footera" href="#">Download IOS App</a></p>
                  <p><a id="footerclient" href="#">Download Android App</a></p>
                  </div>
          </div>
          <div class="col-md-4" id="footer-list">
              <h6>Contact Us</h6>
              <div class="input-group">
                  <input type="email" class="form-control" id="email" placeholder="Enter your Email..."/>
                  <button type="button" class="btn" id="submit-button">Search</button>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="last-section bottom-row">
<div class="container m-auto">
  <div class="row">
      <div class="col-md-5">
         <h6> ©ProHub International Ltd. 2020 </h6>
      </div>
      <div class="col-md-7  text-right">
        <h6>Report Site Issues | FAQ | Privacy Policy | Complaint Policy | Cancellation Policy</h6>
      </div>
  </div>
</div>
</section>