<section>
    <div class="col-12">
        <span class="d-flex flex-column mt-3">
            <span class="title">My Timezone</span>
            <span class="value">{{timeZone}}</span>
        </span>
        <span class="d-flex flex-column mt-3">
            <span class="title">Address Line 1</span>
            <span class="value">{{addressLine1}}</span>
        </span>
        <span class="d-flex flex-column mt-3">
            <span class="title">Address Line 2</span>
            <span class="value">{{addressLine1}}</span>
        </span>
    </div>
    <div class="mt-3 d-flex">
        <div class="col-6">
            <span class="d-flex flex-column">
                <span class="title">Country</span>
                <span class="value">{{country}}</span>
            </span>
        </div>
        <div class="col-6">
            <span class="d-flex flex-column">
                <span class="title">State</span>
                <span class="value">{{state}}</span>
            </span>
        </div>
    </div>
    <div class="mt-3 d-flex pb-5">
        <div class="col-6">
            <span class="d-flex flex-column">
                <span class="title">City</span>
                <span class="value">{{city}}</span>
            </span>
        </div>
        <div class="col-6">
            <span class="d-flex flex-column">
                <span class="title">Zip Code</span>
                <span class="value">{{zipCode}}</span>
            </span>
        </div>
    </div>
</section>
