$border-color: #E4E4E4;
.upload-cv-container {
  border-left: 2px solid $border-color;
  border-right: 2px solid $border-color;
  min-height: 520px;
  width: 100%;

  .edit-section, .header {
    min-height: 90px;
    width: 100%;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .header {
    font: normal normal bold 25px/35px Libre Franklin;
    color: #212121;
  }
  .upload-cv-content {
    min-height: 340px;
    height: inherit;
    padding: 40px 20px 0px 20px;
  }
  .back-button {
   margin-right: 20px;
  }
}

.check-box-item {
  margin: 10px
}

.point-one {
  display: flex;
}

.point-two {
  margin: 30px 0px;
}

.add-file-text {
  font: italic normal normal 14px/17px Libre Franklin;
  color: #808080;

  p:nth-child(2) {
    margin-top: -15px;
  }
}

.add-cv-input {
  display: none;
}
