.container {
  > div {
    background-color: white;
    margin-bottom: 10px;
    padding: 30px;
  }

  .header {
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    box-shadow: 0px 1px 2px #0000001a;
    display: flex;
    letter-spacing: -0.63px;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    .title {
      color: #444853;
      display: flex;
      flex-direction: column;
      font: normal normal bold 25px/35px Libre Franklin;

      span {
        color: #444853;
        font: normal normal normal 16px/35px Libre Franklin;
        letter-spacing: -0.4px;
      }
    }
  }

  .option {
    text-align: left;
    font: normal normal normal 16px/22px Libre Franklin;
    letter-spacing: -0.32px;
    color: #212121;
    border-bottom: 0.5px solid #bdbdbd;
    padding: 10px 0px;
  }

  .option:last-of-type {
    border-bottom: none;
    margin-bottom: 30px;
  }

  .label {
    text-align: left;
    font: normal normal bold 16px/19px Libre Franklin;
    letter-spacing: -0.4px;
    color: #444853;
    margin-bottom: 10px;
  }

  .footer {
    border-top: 1px solid #bdbdbd;
    margin-top: -10px;
    padding-top: 20px;

    button {
      margin-right: 10px;
    }
  }
}
