.edit-icon {
    border: solid 1px #3F63C8;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #3F63C8;
    span {
        font-size: 18px;
    }
}

header {
    height: 50px;
}

.header-text {
    color: #444853;
    font-size: 18px;
    font-weight: bold;
}
