<div class="expert-container">
    <div class="expert-header">
        How many experts you want to hire?
    </div>
    <form [formGroup]="expertInfo">
        <div class="expert-content">
            <mat-radio-group color="primary" aria-label="Select an option" formControlName="selectExpert">
                <div class="option">
                    <mat-radio-button value="1"></mat-radio-button>
                    <span class="material-icons">
                        person
                        </span>
                        <div> One </div>
                </div>
                <div class="option">
                <mat-radio-button value="2"></mat-radio-button>
                <span class="material-icons">
                    people
                    </span>
                    <div> More than One </div>
                </div>
            </mat-radio-group>
            <div class="col-4" *ngIf="showExpertCount">
                <mat-label class="label">Number of experts</mat-label>
                <input class="control" type="number" matInput formControlName="numberOfExperts" />
            </div>  
        </div>
        <div class="expert-footer">
            <mat-checkbox color="primary" formControlName="hireConsultantAndMemberBoth">
                I want to hire Consultant & Members both
            </mat-checkbox>
        </div>
    </form>
</div>
