<section>
    <div class="col-12 pb-4">
        <span class="d-flex flex-column mt-3">
            <span class="title">What's the name of your company</span>
            <span class="value">{{nameCompany}}</span>
        </span>
        <span class="d-flex flex-column mt-3">
            <span class="title">Role in Company</span>
            <span class="value">{{roleCompany}}</span>
        </span>
        <span class="d-flex flex-column mt-3">
            <span class="title">What you do in your Organisation</span>
            <span class="value">{{organisation}}</span>
        </span>
        <span class="d-flex flex-column mt-3">
            <span class="title">How many employees does your organisation have ?</span>
            <span class="value">{{noOfEmployee}}</span>
        </span>
    </div>
</section>
