.chip {
    background: #3F63C81A 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    color: #5A6276;
    font-size: 12px;
    padding: 8px;
    margin-left: 5px;
    margin-top: 10px;
}