.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .definitions{
      color:#808080;
  }

  .back{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B2B7C4;
    border-radius: 4px;
    color:#3F63C8;
    font-weight:bold;
  }

  .next{
    font-weight:bold; 
  }