 <!-- header -->
  <!-- replace the below div with the header component for lib  -->
  <div class="bottom-shadow">
    <div style="height: 50px;"> ProHub
    </div>
  </div>
  
    <!-- main content -->
  <div class="create-project-container">
    <!-- side nav -->
    <div class="side-nav">
      <!-- current tab indexing begin from 0(1st tab = 0, 13th tab = 12)-->
      <div *ngFor="let tab of arrayOfTabs; let i=index"
        (click)="setCurrentTab(i)"
        [ngClass]="{'side-nav-content-active': (currentTab >= i) || (tabVisited[i] === true), 'side-nav-content-inactive': (currentTab < i) && (tabVisited[i] === false)}"
        class="side-nav-content">
          <div *ngIf="currentTab === i"></div>
          <div *ngIf="currentTab !== i" id="remove-border"></div>
          <span class="material-icons outlined list-icon">{{tab.icon}}</span>
          <span class="list-text">{{tab.name}}</span>
          <span class="material-icons outlined tick">check_circle</span>
      </div>
    </div>
    <!-- steps to collect user info -->
    <div class="main-content">
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
  </div>
    <!-- footer -->
  