<!--  *************** USERNAME & COMPLETE PROFILE NAV ************* -->

<section id="nav-2"> 
    <div class="container"> 
        <div class="row">
            <div class="col-md-6">
                <h2 id="user-name"> Hey, John Doe </h2>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn" id="complete-profile-button" routerLink="/auth/signup/clientSignup"> COMPLETE PROFILE </button>
            </div>
        </div>
    </div>
</section>

<!-- ******************** SECTION 1 ******************** -->


<section class="section1">
    <div class="container container-service">
        <div class="row">
            <div class=" col-sm col-md-12 text-center">
                <h3 id="section1-title"> What type of Service are you Interested in :</h3>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm col-md-12 text-center">
                <p class="card-heading-p">Browse only and complete Profile later</p>
            </div>
        </div>
            <div class="row px-5">
                <div class="col-md-4 text-center">
                    <div class="card card1">
                        <img  class="employee" src=".../../../../../../assets/employee.svg"/>
                        <div class="card-body">
                            <p class="card-text">
                                I need to hire professional for my project.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card card2">
                        <img  class="communications" src=".../../../../../../assets/communications.svg"/>
                        <div class="card-body">
                            <p class="card-text">
                                I need to ask <br/>questions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card card3">
                        <img  class="prohub-logo" src=".../../../../../../assets/landingPage/ProHub-Logo.svg"/>
                        <div class="card-body">
                            <p class="card-text">
                                I'm not sure. I need ProHub to help me find the right service.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
       </section>

        <!-- ******************** SECTION 2 ******************** -->

        <section class="section-2">
            <div class="container">
               <div class="row">
                   <div class="col-sm col-md-12 text-center">
                    <h3 id="section2-title"> HOW IT WORKS </h3>
                  </div>
               </div>
           </div>
       </section>

       <section class="section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card section3-card1">
                        <div class="blue-div"><h4>1</h4></div>
                        <h5 class="header text-center">
                            Post a job to get<br/> free quotes
                        </h5>
                        <div class="card-body">
                            <p class="card-text section3-card-text text-center">
                                Write a clear, detailed description of your job to 
                                share with qualified professionals. Start 
                                receiving proposals in less than 24 hours.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card section3-card2">
                        <div class="blue-div"><h4>2</h4></div>
                        <h5 class="header text-center">
                            Evaluate proposals<br/> & hire professionals
                        </h5>
                        <div class="card-body">
                            <p class="card-text section3-card-text text-center">
                                Review proposals or 
                                invite qualified 
                                professionals to your 
                                project. Quickly chat live
                                 or video call with favourites, and offer a
                                  contract to the best
                                   match.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card section3-card3">
                        <div class="blue-div"><h4>3</h4></div>
                        <h5 class="header text-center">
                            Work <br/>together
                        </h5>
                        <div class="card-body">
                            <p class="card-text section3-card-text text-center">
                                Use ProHub productivity
                                 tools to securely chat, audio or video meet,
                                  share files, and collaborate on projects. View progress against your project goals.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card section3-card3">
                        <div class="blue-div"><h4>4</h4></div>
                        <h5 class="header text-center">
                            Pay and invoice<br/> through ProHub
                        </h5>
                        <div class="card-body">
                            <p class="card-text section3-card-text text-center">
                                Get invoices and make
                                 payments after reviewing 
                                 time billed or approving milestones.
                                  With ProHub Payment Protection, only pay for work you authorise
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </section>

        <!-- *************  Footer  ************* -->
    <section class="aboutprohubpricing">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li  class="aboutprohubpricing-li"> Learn about Prohub Pricing <a href="#"> Click here </a> </li> 
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="aboutprohubpricing-li"> Determine how much to pay experts <a href="#"> Click here </a> </li> 
                    </ul>
                </div>
            </div>
        </div>
    </section> 

    <section class="footer">
        <div class="container">
            <div class="row logo-row">
                <div class="col-md-8">
                <img src="../../../../assets/prohub logo 2.png" height="70px"/>
                </div>
                <div class="col-md-4 text-right">
                    <i class="fab fa-facebook" id="footer-socialicon"></i> 
                    <i class="fab fa-instagram" id="footer-socialicon"></i> 
                    <i class="fab fa-linkedin" id="footer-socialicon"></i> 
                    <i class="fab fa-youtube" id="footer-socialicon"></i> 
                </div>
            </div>
            
            <div class="row footer-content">
                <div class="col-md-2" id="footer-list">
                    <h6> Join ProHub </h6>
                    <div class="footer-list-p">
                    <p><a href="#">As a Professionals</a></p>
                    <p><a href="#">As a Clients</a></p>
                    </div>
            </div>
                <div class="col-md-2" id="footer-list">
                    <h6>About</h6>
                    <div class="footer-list-p">
                        <p><a href="#">Terms & Conditions</a></p>
                        <p><a href="#">Privacy Policy</a></p>
                        </div>
                </div>

                <div class="col-md-2" id="footer-list">
                    <h6>Support</h6>
                    <div class="footer-list-p">
                        <p><a href="#">Help & Support</a></p>
                        </div>
                </div>
                <div class="col-md-2" id="footer-list">
                    <h6>Get our app</h6>
                    <div class="footer-list-p">
                        <p><a href="#">Download IOS App</a></p>
                        <p><a href="#">Download Android App</a></p>
                        </div>
                </div>

                <div class="col-md-4" id="footer-list">
                    <h6>Contact Us</h6>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter your Email..."/>
                        <button type="button" class="btn" id="submit-button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="last-section bottom-row">
        <div class="container ">
            <div class="row">
                <div class="col-md-5">
                <h6> ©ProHub International Ltd. 2020 </h6>
                </div>
                <div class="col-md-7  text-right">
                <h6>Report Site Issues | FAQ | Privacy Policy | Complaint Policy | Cancellation Policy</h6>
                </div>
            </div>
        </div>
    </section> 
