$border-color: #E4E4E4;
.project-services-container {
  border-left: 2px solid $border-color;
  border-right: 2px solid $border-color;
  min-height: 520px;
  width: 100%;
  position: relative;

  .edit-section, .header {
    align-items: center;
    border-bottom: 2px solid $border-color;
    border-top: 2px solid $border-color;
    display: flex;
    min-height: 90px;
    padding-left: 20px;
    width: 100%;
  }

  .header {
    color: black;
    font: normal normal bold 25px/35px Libre Franklin;
    padding: 20px 20px 10px 20px;
    justify-content: space-between;

    span {
      color: #3F63C8;
      cursor: pointer;
      font-size: 34px;
    }
  }

  .back-button {
    margin-right: 20px;
  }

  .project-services-section {
    min-height: 340px;
    max-height: 600px;
    overflow-y: auto;

    .project-services-content {
      width: 95%;
      height: auto;
      border: 1px solid #B2B7C4;
      border-radius: 4px;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;


      .border {
        width: 6px;
        height: 100%;
        background-color: #3F63C8;
        border-radius: 4px 0px 0px 4px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      .content {
        flex-grow: 10;
        padding-left: 20px;
        min-width: 550px;
        height: auto;

        p:nth-child(1) {
          font-size: 20px;
          letter-spacing: 0px;
          color: #444853;
        }
        p:nth-child(2) {
          font-size: 16px;
          letter-spacing: 0px;
          color: #444853;
        }
        p:nth-child(3) {
          font-size: 14px;
          letter-spacing: 0px;
          color: #B2B7C4;
        }
      }
      .symbols {
        flex-grow: 1;
        min-width: 100px;
        span {
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
