form {
  height: fit-content;

  .chip-list {
    min-height: 80px;
    width: 100%;
  }

  .suggested-categories {
    padding-bottom: 30px;
    .suggested-title {
      text-align: left;
      font: normal normal 600 14px/52px Libre Franklin;
      letter-spacing: 0px;
      color: #212121;
    }

    .suggested-list {
      text-align: left;
      font: normal normal normal 14px/22px Libre Franklin;
      letter-spacing: -0.28px;
      color: #3f63c8;
    }
  }
}
