<section>
    <header class="d-flex justify-content-between align-items-center col-12">
        <span class="header-text">Profile Info</span>
        <span class="edit-icon clickable" *ngIf="!isEdit" (click)="isEdit = !isEdit">
            <span class="material-icons">
                edit
            </span>
        </span>
    </header>
    <mat-divider class="mb-2"></mat-divider>
    <ng-container *ngIf="isEdit; else elseBlock">
        <prohub-profile-info-edit [details]="profileDetails" (toggleEditMode)="toggleEdit()"></prohub-profile-info-edit>
    </ng-container>
    <ng-template #elseBlock>
        <prohub-profile-info-view [details]="profileDetails"></prohub-profile-info-view>
    </ng-template>
</section>
