<section>
    <div class="d-flex m-3 pb-4">
        <span class="mx-3">
            <span class="material-icons tick-icon">
                check_circle
            </span>                
        </span>
        <div class="d-flex flex-column">
            <span class="title">Password has been set</span>
            <span class="sub-text mt-2">
                You currently use your <span class="tick-icon">Email Sign- In</span> to login. ProHub provide you the flexibility to change password easily from profile.
            </span>
        </div>
    </div>
</section>