  <div class="bottom-shadow">
    <img style="height: 50px; width: 96px;margin-left: 5%" src="./../../../../../../assets/prohub logo 2.png">
  </div>

  <!-- main content -->
<div class="client-signup-container">
  <!-- side nav -->
  <div class="side-nav">
    <!-- current tab indexing begin from 0(1st tab = 0, 13th tab = 12)-->
    <div *ngFor="let tab of arrayOfTabs; let i=index"
      [ngClass]="{'side-nav-content-active': (currentTab >= i) || (tabVisited[i] === true), 'side-nav-content-inactive': (currentTab < i) && (tabVisited[i] === false)}"
      (click)="setCurrentTab(tab.url)"
      class="side-nav-content">
        <div *ngIf="currentTab === i"></div>
        <div *ngIf="currentTab !== i" id="remove-border"></div>
        <span class="material-icons outlined list-icon">{{tab.icon}}</span>
        <span class="list-text">{{tab.name}}</span>
        <span class="material-icons outlined tick">check_circle</span>
    </div>
  </div>
  <!-- steps to collect user info -->
  <div class="collection-container">
    <div class="info-collection-container">
      <router-outlet></router-outlet>
    </div>
    <div class="my-4">
      <button mat-raised-button color="primary" (click)="onButtonClick('next')">Next</button>
      <button mat-raised-button class="ml-3" (click)="onButtonClick('back')">Back</button>
    </div>
  </div>
</div>
  <!-- footer -->
