$selected-bg-color: #3F63C833;
$selected-text-color: #3F63C8;

.client-signup-container {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  display: flex;
  padding-top: 65px;
  justify-content: center;
}

.side-nav {
  background-color: inherit;
  width: 300px;
  height: 520px;
  margin-bottom: 100px;
}

.side-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
  div {
    height: 25px;
    flex: 0 0 1%;
  }

  .list-icon {
    margin: 0px 5px;
    flex: 0 0 5%;
  }

  .list-text {
    text-align: left;
    font: normal normal medium 16px/19px Libre Franklin;
    letter-spacing: -0.32px;
    opacity: 1;
    flex: 0 0 60%;
  }

  .tick{
    margin: 0px 5px;
    flex: 0 0 5%;
  }

}

.side-nav-content-active {

  div {
    border: 2px solid $selected-text-color;
  }

  .list-icon, .list-text   {
    color: #444853;
  }

  .tick {
    color: $selected-text-color;
  }
}

.side-nav-content-inactive {

  pointer-events: none;
  div {
    border: 2px solid #F5F5F5;
  }

  .list-icon, .list-text, .tick   {
    color: #B2B7C4;
  }

}

#remove-border {
    border: 2px solid #F5F5F5;
}


.info-collection-container {
  background-color: white;
  width: 700px;
  height: auto;
}

.collection-container {
  margin-left: 25px;
  margin-bottom: 100px;
}
