<section>
    <form class="mb-2 mt-4 form-container" [formGroup]="passwordDetails">
        <div class="d-flex justify-content-between flex-column">
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Old Password" formControlName="oldPwd">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>New Password (minimum 8 characters)</mat-label>
                <input matInput placeholder="New Password" formControlName="newPwd" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="confirmPwd">
            </mat-form-field>
        </div>
    </form>
    <span class="password-matched col-12" *ngIf="isPwdMatched">
        <span class="material-icons">
            check_circle
        </span>
        <span class="ml-2">Password Matched</span>  
    </span>
    <div class="col-12 py-4">
        <button mat-raised-button [disabled]="!passwordDetails.valid" color="primary" (click)="onUpdateClick()">UPDATE</button>
        <span class="cancel-btn ml-5 clickable" (click)="onCancelClick()">Cancel</span>
    </div>
</section>