<div class="bg"></div>

<div class="container w-75">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="./../">Clients</a></li>
            <li class="breadcrumb-item active" aria-current="page">Client Profile</li>
        </ol>
    </nav>
</div>

<div class="container w-75" id="profile-container">
    <div class="col-sm col-md-12">
        <div class="d-flex flex-row">
            <div class="p-2">
                <img src="https://i.pravatar.cc/150?img=9" id="user-image" width="130px">
            </div>
            <div class="p-2 flex-grow-1 mt-2">
                <h2> <strong>Emily Dom</strong></h2>
                <p>Joined on 07 Feb, 2021 | Sunday</p>
            </div>
            <div class="p-2 mt-4">
                <button mat-raised-button id="approve-button">Approve</button>
            </div>
            <div class="p-2 mt-4">
                <button mat-raised-button id="disapprove-button">Disapprove</button>
            </div>
        </div>
    </div>
    <hr>

    <div class="col-sm col-md-12 mt-4">
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Email</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">example@mail.com</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Phone No.</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">+1 202 555 6666</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">User Type</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Individual</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Networking</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Enabled</p>
            </div>
        </div>
    </div>
</div>

<!-- address -->

<div class="container w-75 pt-5 mt-5" id="profile-container">
    <div class="col-sm col-md-12">
        <h2> <strong>Address</strong></h2>
    </div>

    <div class="col-sm col-md-12 mt-4">
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Timezone</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">example@mail.com</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Address 1</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">+1 202 555 6666</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Address 2</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Individual</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">Country</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Enabled</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">State</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Enabled</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">City</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Enabled</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 flex-grow-1">
                <h5 class="detail-title">ZIP Code</h5>
            </div>
            <div class="p-2">
                <p class="detail-text">Enabled</p>
            </div>
        </div>
    </div>
</div>