
$primary-color: #3F63C8;
$text-grey : #B2B7C4;
$text-primary: #444853;

/////////////// form ////////////////
.question {
    border: solid 1px #dddddd;
    border-radius: 12px;    
    
    p {
        color: $text-grey;
    }

    hr {
        background-color: $text-grey;
    }
}